<!DOCTYPE html>
<html lang="en">
<style>
    span {
        color: #1627ab;
        cursor: pointer;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Rooms List</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <ul v-if="!shown" style="list-style: none">
            <li v-for="room in rooms"> {{ room.id }} <span @click="showRoomDetails(room.room_number)">{{ room.room_number }}</span></li>
        </ul>
        <ul v-if="shown" style="list-style: none">
            <li v-for="(detail, index) in roomDetails[0]"> {{ index }}: {{ detail }} </li>
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>